* {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}


/* till navbar*/
.navbar {
  background-color: #1b548d;
  border: 50px;

}

.navbar ul {
  overflow: auto;
  display: block;

}

.navbar li {
  float: left;
  list-style: none;
  margin: 14px 18px;

}

.navbar li a {
  padding: 3px 3px;
  text-decoration: none;
  color: white;

}

.navbar li a:hover {
  background-color: #063665;
  text-decoration: none;
  text-transform: none;

}

/* navbar höger/* \ */


.topheader {
  background-color: #b1b1b1;
  border: 15px;

}

.topheader ul {
  overflow: auto;
  display: block;

}

.topheader li {
  float: right;
  list-style: none;
  margin: 14px 18px;

}

.topheader li a {
  padding: 3px 3px;
  text-decoration: none;
  color: black;

}

.topheader li a:hover {
  background-color: gray;
  text-decoration: underline;
  text-transform: none;
}

/* /* flex box\ */
* {

  padding: 0;
  box-sizing: border-box;
}

.container {
  background: color #eceff1;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;

}

.item {
  background-color: #addafa;
  display: flex;
  padding: 30px;
  margin: 30px;
  color: black;
  font-size: 25px;

}

/*.container ul {  behåll?
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.container {
  background: color #eceff1;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
} /* flex box\ */


.nyheter {

  text-align: right;
  margin-right: 350px;
  font-size: 25px;
}